<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CRUD AXIOS</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <div id="app">
        <form @submit.prevent="submitForm()">
            <p v-if="errors.length">
                <b>Please correct the following errors :</b>
                <ul>
                    <li v-for="error in errors">{{error}}</li>
                </ul>
            </p>
            <label for="name">Name :</label><br>
            <input type="text" :disabled="buttonStatus == 'upload'" name="name" id="name" ref="name" v-model="name"><br>
            <label for="address">Address :</label><br>
            <textarea :disabled="buttonStatus == 'upload'" name="address" id="address" ref="address" v-model="address"></textarea><br>
            <label for="no_hp">Phone :</label><br>
            <input type="text" :disabled="buttonStatus == 'upload'" name="no_hp" id="no_hp" ref="no_hp" v-model="no_hp"><br>
            <div v-if="buttonStatus == 'submit'">
                <input type="submit" value="SUBMIT">
            </div>
            <div v-else-if="buttonStatus == 'update'">
                <input type="button" value="UPDATE" @click="updateMember(idEditMember)" style="margin-top: 5px; margin-left: 5px;">
                <input type="button" value="CANCEL"  @click="clearForm" style="margin-top: 5px; margin-left: 5px;">
            </div>
            <div v-else-if="buttonStatus == 'upload'">
                <input type="file" name="photo_profile" ref="photo_profile" style="margin-top: 5px;"><br>
                <input type="button" value="UPLOAD"  @click="submitPhoto(idUploadMember)" style="margin-top: 5px; margin-left: 5px;">
                <input type="button" value="CANCEL"  @click="clearForm" style="margin-top: 5px; margin-left: 5px;">
            </div>
        </form>
        <br><br>
        <table border="1">
            <tr v-for="member of members">
                <td>
                    <img width="200" :src="member.photo_profile ? photoDomain + member.photo_profile : 'https://dummyimage.com/16:9x1080'" alt="">
                </td>
                <td>
                    <b>Name :</b> {{member.name}} <br>
                    <b>Address :</b> {{member.address}} <br>
                    <b>Phone :</b> {{member.no_hp}} <br>
                </td>
                <td>
                    <button @click="editMember(member)">Edit</button>
                    <button @click="deleteMember(member.id)">Hapus</button>
                    <button @click="uploadPhoto(member)">Upload Photo</button>
                </td>
            </tr>
        </table>
    </div>
    <script>
      var app = new Vue({
        el: "#app",
        data: {
          name: "",
          address: "",
          no_hp: "",
          members: [],
          errors: [],
          photoDomain: "http://demo-api-vue.sanbercloud.com",
          buttonStatus: "submit",
          idEditMember: null,
          idUploadMember: null
        },
        methods: {
            validationForm: function() {
                this.errors = []

                if(this.name.length === 0) {
                    this.errors.push("Masukkan Nama Anda")
                    this.$refs.name.focus()
                }
                if(this.name.length < 5) {
                    this.errors.push("Nama minimal 5 karakter")
                    this.$refs.name.focus()
                }
                if(this.address.length === 0) {
                    this.errors.push("Masukkan Alamat Anda")
                    this.$refs.address.focus()
                }
                if(this.address.length > 50) {
                    this.errors.push("Alamat tidak lebih dari 50 karakter")
                    this.$refs.address.focus()
                }
            },
            submitForm: function() {
                this.validationForm()

                if(this.errors.length === 0) {
                    let formData = new FormData()
                    formData.append('name', this.name)
                    formData.append('address', this.address)
                    formData.append('no_hp', this.no_hp)

                    const config = {
                        method: "post",
                        url: "http://demo-api-vue.sanbercloud.com/api/member",
                        data: formData
                    }
                    axios(config)
                    .then((resp) => {
                        this.clearForm()
                        this.getMembers()
                        alert(resp.data.message)
                        console.log(resp.data)
                    })
                    .catch((err) => {
                        console.log(err)
                    })

                    alert("Terima kasih Anda telah mengisi data dengan benar")
                }

               

            },
            getMembers: function() {
                const config = {
                    method: "get",
                    url: "http://demo-api-vue.sanbercloud.com/api/member"
                }
                axios(config)
                .then((resp) => {
                    this.members = resp.data.members
                    console.log(resp)
                })
                .catch((err) => {
                    console.log(err)
                })
            },
            deleteMember: function(id) {
                console.log(id)

                const config = {
                    method: "post",
                    url: `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
                    params: {_method : "DELETE"}
                }
                axios(config)
                .then((resp) => {
                    this.getMembers()
                    alert(resp.data.message)
                    console.log(resp.data)
                })
                .catch((err) => {
                    console.log(err)
                })
            },
            editMember: function(member) {
                this.name = member.name
                this.address = member.address
                this.no_hp = member.no_hp
                this.buttonStatus = "update"
                this.idEditMember = member.id

            },
            updateMember: function(id) {
                this.validationForm()

                if(this.errors.length === 0) {
                    let formData = new FormData()
                    formData.append('name', this.name)
                    formData.append('address', this.address)
                    formData.append('no_hp', this.no_hp)

                    const config = {
                        method: "post",
                        url: `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
                        params: {_method : "PUT"},
                        data: formData
                    }
                    axios(config)
                    .then((resp) => {
                        this.clearForm()
                        this.getMembers()
                        alert(resp.data.message)
                        console.log(resp.data)
                    })
                    .catch((err) => {
                        console.log(err)
                    })
                }
            },
            uploadPhoto: function(member) {
                this.name = member.name
                this.address = member.address
                this.no_hp = member.no_hp
                this.buttonStatus = "upload"
                this.idUploadMember = member.id

            },
            submitPhoto: function(id) {
                let file = this.$refs.photo_profile.files[0]

                let formData = new FormData()
                formData.append('photo_profile', file)

                const config = {
                    method: "post",
                    url: `http://demo-api-vue.sanbercloud.com/api/member/${id}/upload-photo-profile`,
                    data: formData
                    }
                    axios(config)
                    .then((resp) => {
                        this.clearForm()
                        this.getMembers()
                        alert(resp.data.message)
                        console.log(resp.data)
                    })
                    .catch((err) => {
                        console.log(err)
                    })
            },
            clearForm: function() {
                this.name = ""
                this.address = ""
                this.no_hp = ""
                this.buttonStatus = "submit"
                this.idEditMember = null
                this.idUploadMember = null
            }
        },
        created() {
            this.getMembers()
        }
      });
    </script>
  </body>
</html>
