<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quiz-2</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  </head>
  <body>
    <div id="app">
        <div id="app">
            <input type="text" v-model:value="newUser" />
            <button v-if="addUser" @click="addUser">Add</button>
            <button v-else-if="!addUser" @click="editUser">Update</button>
            <ul>
                <li v-for="(user, index) in users" style="margin: 15px 0px;">
                    {{user.name}} <span style="margin-left: 15px;"><button @click="updateUser(index)">Edit</button></span> <span style="margin-left: 3px;"><button @click="deleteUser(index)">Delete</button></span>
                </li>
            </ul>
          </div>
        

    <script>
      var vm = new Vue({
        el: "#app",
        data() {
          return {
            newUser: "",
            editIndex: null,
            users: [
              { "name" : "Muhammad Iqbal Mobarok" },
              { "name" : "Ruby Purwanti" },
              { "name" : "Faqih Muhammad" },
            ],
            editUser: {"name" : null},
          };
        },
        methods: {
          addUser: function () {
            this.users.push({'name': this.newUser});
            this.newUser = "";
          },
          updateUser: function (index) {
            //   console.log('tes edit')
            this.editIndex = index
            this.editUser = this.users[index]
          },
          editUser: function () {
            if(this.users.name) {
                this.editIndex = null
                this.users = this.editUser
                this.newUser = "";
            }
          },
          deleteUser: function (index) {
            alert("Apakah anda Yakin ingin menghapus data?")
            this.users.splice(index, 1)
          },
        },
      });
    </script>
  </body>
</html>
