<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Soal 1 - Searching</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  </head>
  <body>
    <div id="app">
      <input
        type="text"
        v-model="searching"
        placeholder="Ketikkan Kata Kunci"
      />
      <ul>
        <li v-for="book in search">{{book}}</li>
      </ul>
    </div>

    <script>
      var vm = new Vue({
        el: "#app",
        data() {
          return {
            searching: "",
            books: [
              "Kalkulus Dasar",
              "Fisika Dasar",
              "Aljabar Linier Elementor",
              "Aljabar Abstrak",
              "Algoritma Pemrograman",
            ],
          };
        },
        computed: {
          search() {
            if (this.searching) {
              return this.books.filter((item) => {
                return item
                  .toLowerCase()
                  .includes(this.searching.toLowerCase());

                // return this.searching
                //   .toLowerCase()
                //   .split(" ")
                //   .every((v) => item.toLowerCase().includes(v));
              });
            } else {
              return this.books;
            }
          },
        },
      });
    </script>
  </body>
</html>
