<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Soal 2 - Add Comment</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  </head>
  <body>
    <div id="app">
      <div style="margin-left: 20px">
        <p v-for="comment in comments">
          <button v-on:click="score += 1">+</button><br />
          {{comment.body}} || {{comment.date}} || Score: {{score}}
          <br /><button v-on:click="score -= 1">-</button>
          <br />
        </p>
      </div>
      <textarea
        cols="38"
        rows="8"
        v-model:value="newComment"
        v-on:keyup.enter="addComment"
      ></textarea>
    </div>

    <script>
      var vm = new Vue({
        el: "#app",
        data() {
          return {
            newComment: "",
            score: 0,
            comments: [
              { body: "komentar1", date: "Fri May 06 2021" },
              { body: "komentar2", date: "Tue May 03 2021" },
            ],
          };
        },
        methods: {
          addComment: function () {
            this.comments.push({
              body: this.newComment,
              date: new Date().toDateString(),
              nilai: "Score : " + this.score,
            });
            this.newComment = "";
          },
        },
      });
    </script>
  </body>
</html>
