<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CRUD AXIOS</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vuex@3.6.2/dist/vuex.js"></script>
    <style>
        input {
            display: block;
            margin-top: 5px;
            width: 90%;
        }
        form {
            border: 1px solid red;
            padding: 5px;
            width: 200px;
            background: wheat;
        }
    </style>
  </head>
  <body>
    <div id="app">
        <form @submit.prevent="submitForm()">
            <p v-if="$store.state.errors.length">
                <b>Please correct the following errors :</b>
                <ul>
                    <li v-for="error in $store.state.errors">{{error}}</li>
                </ul>
            </p>
            <label for="name">Name :</label><br>
            <input type="text" :disabled="$store.state.buttonStatus == 'upload'" name="name" id="name" ref="name" v-model="$store.state.name"><br>
            <label for="address">Address :</label><br>
            <textarea :disabled="$store.state.buttonStatus == 'upload'" name="address" id="address" ref="address" v-model="$store.state.address" rows="3" cols="21"></textarea><br>
            <label for="no_hp">Phone :</label><br>
            <input type="text" :disabled="$store.state.buttonStatus == 'upload'" name="no_hp" id="no_hp" ref="no_hp" v-model="$store.state.no_hp"><br>
            <div v-if="$store.state.buttonStatus == 'submit'">
                <input type="submit" value="SUBMIT">
            </div>
            <div v-else-if="$store.state.buttonStatus == 'update'">
                <input type="button" value="UPDATE" @click="updateMember($store.state.idEditMember)" style="margin-top: 5px; margin-left: 5px;">
                <input type="button" value="CANCEL"  @click="clearForm" style="margin-top: 5px; margin-left: 5px;">
            </div>
            <div v-else-if="$store.state.buttonStatus == 'upload'">
                <input type="file" name="photo_profile" ref="photo_profile" style="margin-top: 5px;"><br>
                <input type="button" value="UPLOAD"  @click="submitPhoto($store.state.idUploadMember)" style="margin-top: 5px; margin-left: 5px;">
                <input type="button" value="CANCEL"  @click="clearForm" style="margin-top: 5px; margin-left: 5px;">
            </div>
        </form>
        <br><br>

        <!-- <h1>{{$store.state.title}}</h1>
        <h1>{{$store.state.count}}</h1>
        <span style="margin-right: 5px;"><button @click="tambah">+</button></span><button @click="kurang">-</button> -->
        <!-- <br><br> -->

        <member-component
            v-bind:members="$store.state.members"
            v-on:edit="editMember"   
            @delete="deleteMember"   
            @upload="uploadPhoto"
        >
        </member-component>
    </div>
    <script type="module">
        import { MemberComponent } from "./MemberComponent.js";

        const store = new Vuex.Store({
            state: {
                // count: 0,
                // title: "Test VueX"
                name: "",
                address: "",
                no_hp: "",
                members: [],
                errors: [],
                buttonStatus: "submit",
                idEditMember: null,
                idUploadMember: null
            },
            mutations: {
                // increment (state) {
                // state.count++
                // },
                // decrement (state) {
                // state.count--
                // }

                validationForm: function(state) {
                    state.errors = []

                    if(state.name.length === 0) {
                        state.errors.push("Masukkan Nama Anda")
                        state.$refs.name.focus()
                    }
                    if(state.name.length < 5) {
                        state.errors.push("Nama minimal 5 karakter")
                        state.$refs.name.focus()
                    }
                    if(state.address.length === 0) {
                        state.errors.push("Masukkan Alamat Anda")
                        state.$refs.address.focus()
                    }
                    if(state.address.length > 50) {
                        state.errors.push("Alamat tidak lebih dari 50 karakter")
                        state.$refs.address.focus()
                    }
                },
                submitForm: function(state) {
                    this.commit("validationForm")

                    if(state.errors.length === 0) {
                        let formData = new FormData()
                        formData.append('name', state.name)
                        formData.append('address', state.address)
                        formData.append('no_hp', state.no_hp)

                        const config = {
                            method: "post",
                            url: "http://demo-api-vue.sanbercloud.com/api/member",
                            data: formData
                        }
                        axios(config)
                        .then((resp) => {
                            this.commit("clearForm")
                            this.commit("getMembers")
                            alert(resp.data.message)
                            console.log(resp.data)
                        })
                        .catch((err) => {
                            console.log(err)
                        })

                        alert("Terima kasih Anda telah mengisi data dengan benar")
                    }
                },
                getMembers: function(state) {
                    const config = {
                        method: "get",
                        url: "http://demo-api-vue.sanbercloud.com/api/member"
                    }
                    axios(config)
                    .then((resp) => {
                        state.members = resp.data.members
                        console.log(resp)
                    })
                    .catch((err) => {
                        console.log(err)
                    })
                },
                deleteMember: function(id) {
                    console.log(id)

                    const config = {
                        method: "post",
                        url: `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
                        params: {_method : "DELETE"}
                    }
                    axios(config)
                    .then((resp) => {
                        this.commit("getMembers")
                        alert(resp.data.message)
                        console.log(resp.data)
                    })
                    .catch((err) => {
                        console.log(err)
                    })
                },
                editMember: function(state, member) {
                    state.name = member.name
                    state.address = member.address
                    state.no_hp = member.no_hp
                    state.buttonStatus = "update"
                    state.idEditMember = member.id
                },
                updateMember: function(state, id) {
                    this.commit("validationForm")

                    if(state.errors.length === 0) {
                        let formData = new FormData()
                        formData.append('name', state.name)
                        formData.append('address', state.address)
                        formData.append('no_hp', state.no_hp)

                        const config = {
                            method: "post",
                            url: `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
                            params: {_method : "PUT"},
                            data: formData
                        }
                        axios(config)
                        .then((resp) => {
                            this.commit("clearForm")
                            this.commit("getMembers")
                            alert(resp.data.message)
                            console.log(resp.data)
                        })
                        .catch((err) => {
                            console.log(err)
                        })
                    }
                },
                uploadPhoto: function(state, member) {
                    state.name = member.name
                    state.address = member.address
                    state.no_hp = member.no_hp
                    state.buttonStatus = "upload"
                    state.idUploadMember = member.id
                },
                submitPhoto: function(id) {
                    let file = this.$refs.photo_profile.files[0]

                    let formData = new FormData()
                    formData.append('photo_profile', file)

                    const config = {
                        method: "post",
                        url: `http://demo-api-vue.sanbercloud.com/api/member/${id}/upload-photo-profile`,
                        data: formData
                        }
                        axios(config)
                        .then((resp) => {
                            this.commit("clearForm")
                            this.commit("getMembers")
                            alert(resp.data.message)
                            console.log(resp.data)
                        })
                        .catch((err) => {
                            console.log(err)
                        })
                },
                clearForm: function(state) {
                    state.name = ""
                    state.address = ""
                    state.no_hp = ""
                    state.buttonStatus = "submit"
                    state.idEditMember = null
                    state.idUploadMember = null
                }
            },
            actions: {

            }
        })

      var app = new Vue({
        el: "#app",
        store,
        data: {
          
        },
        components: {
            'member-component': MemberComponent,
        },
        methods: {
            // tambah: function() {
            //     this.$store.commit('increment')
            // },
            // kurang: function() {
            //     this.$store.commit('decrement')
            // },
            
            submitForm: function() {
                this.$store.commit('submitForm')
            },
            deleteMember: function(id) {
                this.$store.commit('deleteMember', id)
            },
            editMember: function(member) {
                this.$store.commit('editMember', member)
            },
            updateMember: function(id) {
                this.$store.commit('updateMember', id)
            },
            uploadPhoto: function(member) {
                this.$store.commit('uploadPhoto', member)
            },
            submitPhoto: function(id) {
                this.$store.commit('submitPhoto', id)
            },
            clearForm: function() {
                this.$store.commit('clearForm')
            }

        },
        created() {
            this.$store.commit('getMembers')
        }
      });
    </script>
  </body>
</html>
